<div class="container">
<h3 class="mt-3">{{ id | skillType }} Weapon Skills</h3>
<div class="list-group mt-3">
    <div *ngFor="let skill of skills">
        <div class="list-group-item d-flex justify-content-between flex-wrap align-items-start">
            <div class="ms-2 me-auto">
            <a [routerLink]="['/tools/jobs/weaponskills', skill.Name]" class="fw-bold">
                {{skill.Name | removeUnderscore}}
           </a>
           <div class="small"><span *ngIf="skill.Level != 0">Skill Learned: {{skill.Level}}</span><span *ngIf="skill.Level == 0">Requires Specific Weapon or Quest</span></div>
           <div *ngIf="skill.Note" class="small mb-1">{{skill.Note}}</div>

           <div class="fs-lighter small text-muted">Primary SC: <a [routerLink]="['/tools/sc', skill.PrimSC]">{{skill.PrimSC | sc}}</a></div>
           <div *ngIf="skill.SecSC" class="small fs-lighter text-muted">Secondary SC: <a [routerLink]="['/tools/sc', skill.SecSC]">{{skill.SecSC | sc}}</a></div>
           <div *ngIf="skill.TertSC" class="small fs-lighter text-muted">Tertitary SC: <a [routerLink]="['/tools/sc', skill.TertSC]">{{skill.TertSC | sc}}</a></div>
           <div class="fs-lighter small text-muted">Range: {{skill.Range}}</div>
           <small class="text-muted" >{{skill.Jobs | jobsstr}}</small>

          </div>
          <div *ngIf="skill.Element != 0" class="mx-2 mt-2"><img [src]='"../../../assets/imgs/"+getElem(skill.Element)+".png"'> </div>
          <span *ngIf="skill.AOE > 1" class="badge bg-info rounded-pill mx-2 mt-2">AOE</span>
          <span *ngIf="skill.UnlockID !== 0" class="badge bg-success rounded-pill mx-2 mt-2">QUEST</span>

        </div>
    </div>
</div>
</div>

