<img *ngIf="Val != 0" class="eq-col" [class.eq]="Eq == '2'" [class.it]="Eq == '1'" [src]='prePath + "large-icons/"+Val+".png"' onerror="this.src='../../../assets/imgs/equip_box.gif';"/>
<img *ngIf="Val == 0" class="eq-col" [class.eq]="Eq == '2'" [class.it]="Eq == '1'" [src]='"../../../assets/imgs/equip_box.gif"' onerror="this.src='../../../assets/imgs/equip_box.gif';"/>
<!--[src]='"https://www.ffxiah.com/images/icon/"+Val+".png"'-->
<!--Replace first part of [src] with https://www.ffxiah.com/images/icon/ to use files hosted by them-->