.eq-col {
    position: relative; 
    height: 32px;
    width: 32px;
}

.eq {
    background-image: url("../../../assets/imgs/equip_box.gif");
}

.it {
    background-image: url("../../../assets/imgs/item_back.png");
}