<div *ngIf="item?.Name" class="container">
<div><h3>{{item.Name | removeUnderscore}}</h3></div>
<div class="row mx-0">
<ul class="list-group col" style="max-width: 320px;">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Type</div>
    </div>
    <span>{{item.MobType | mobtype}}</span>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold me-2">Zone</div>
      </div>
      <span>{{item.ZoneName | removeUnderscore}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">HP</div>
      </div>
      <span>{{item.HP}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">MP</div>
      </div>
      <span>{{item.MP}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Main Job</div>
        </div>
        <span>{{jobsArr[item.MJob]}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Sub Job</div>
        </div>
        <span>{{jobsArr[item.SJob]}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Max Level</div>
        </div>
        <span>{{item.MaxLevel}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Combat Delay</div>
        </div>
        <span>{{item.CmbDelay}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Combat Skill</div>
        </div>
        <span>{{item.CmbSkill | skillType}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Combat DMG</div>
        </div>
        <span>{{item.CmbDmgMult}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Aggressive</div>
        </div>
        <span *ngIf="item.Aggro == 1">Yes</span>
        <span *ngIf="item.Aggro == 0">No</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Detects</div>
        </div>
        <span>{{item.Detects | detecttype}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Family</div>
        </div>
        <span>{{item.Family}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Type</div>
        </div>
        <span>{{item.Genre}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Size</div>
        </div>
        <span>{{item.MobSize}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Speed</div>
        </div>
        <span>{{item.Speed}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Charmable</div>
        </div>
        <span *ngIf="item.Charmable != 0">Yes</span>
        <span *ngIf="item.Charmable == 0">No</span>
      </li>
  </ul>
<div class="col" style="max-width: 150px; border-radius: 5px;">

<table class="table table-sm table-bordered border-muted card-bg" >
    <thead>
        <tr class="bg-light text-dark">
          <th colspan="2" class="text-center">Attributes</th>
        </tr>
      </thead>
    <tbody>
    <tr>
      <th>STR</th>
      <td class="text-center">{{item.STR}}</td>
    </tr>
    <tr>
      <th>DEX</th>
      <td class="text-center">{{item.DEX}}</td>
    </tr>
    <tr>
      <th>VIT</th>
      <td class="text-center">{{item.VIT}}</td>
    </tr>
    <tr>
        <th>AGI</th>
        <td class="text-center">{{item.AGI}}</td>
      </tr>
      <tr>
        <th>INT</th>
        <td class="text-center">{{item.INT}}</td>
      </tr>
      <tr>
        <th>MND</th>
        <td class="text-center">{{item.MND}}</td>
      </tr>
      <tr>
        <th>CHR</th>
        <td class="text-center">{{item.CHR}}</td>
      </tr>
      <tr>
        <th>ATT</th>
        <td class="text-center">{{item.ATT}}</td>
      </tr>
      <tr>
        <th>DEF</th>
        <td class="text-center">{{item.DEF}}</td>
      </tr>
      <tr>
        <th>ACC</th>
        <td class="text-center">{{item.ACC}}</td>
      </tr>
      <tr>
        <th>EVA</th>
        <td class="text-center">{{item.EVA}}</td>
      </tr>
      <tr>
        <th>MEVA</th>
        <td class="text-center">{{item.MEVA}}</td>
      </tr>
    </tbody>
</table>
</div>
<div class="col" style="max-width: 200px; border-radius: 5px;">

    <table class="table table-sm table-bordered border-muted card-bg" >
        <thead>
            <tr class="bg-light text-dark">
              <th colspan="2" class="text-center">Resistance</th>
            </tr>
          </thead>
        <tbody>
        <tr>
          <th>Slashing</th>
          <td class="text-center">{{item.Slash}}</td>
        </tr>
        <tr>
          <th>Piercing</th>
          <td class="text-center">{{item.Pierce}}</td>
        </tr>
        <tr>
          <th>Hand-to-Hand</th>
          <td class="text-center">{{item.H2H}}</td>
        </tr>
        <tr>
            <th>Impact</th>
            <td class="text-center">{{item.Impact}}</td>
          </tr>
          <tr>
            <th><div class="d-flex justify-content-between"><span>Fire</span><img class="mt-1" src="../../../assets/imgs/fire.png" width="16" height="16"></div></th>
            <td class="text-center">{{item.Fire}}</td>
          </tr>
          <tr>
            <th><div class="d-flex justify-content-between"><span>Ice</span><img class="mt-1" src="../../../assets/imgs/ice.png" width="16" height="16"></div></th>
            <td class="text-center">{{item.Ice}}</td>
          </tr>
          <tr>
            <th><div class="d-flex justify-content-between"><span>Wind</span><img class="mt-1" src="../../../assets/imgs/wind.png" width="16" height="16"></div></th>
            <td class="text-center">{{item.Wind}}</td>
          </tr>
          <tr>
            <th><div class="d-flex justify-content-between"><span>Earth</span><img class="mt-1" src="../../../assets/imgs/earth.png" width="16" height="16"></div></th>
            <td class="text-center">{{item.Earth}}</td>
          </tr>
          <tr>
            <th><div class="d-flex justify-content-between"><span>Lightning</span><img class="mt-1" src="../../../assets/imgs/lightning.png" width="16" height="16"></div></th>
            <td class="text-center">{{item.Lightning}}</td>
          </tr>
          <tr>
            <th><div class="d-flex justify-content-between"><span>Water</span><img class="mt-1" src="../../../assets/imgs/water.png" width="16" height="16"></div></th>
            <td class="text-center">{{item.Water}}</td>
          </tr>
          <tr>
            <th><div class="d-flex justify-content-between"><span>Light</span><img class="mt-1" src="../../../assets/imgs/light.png" width="16" height="16"></div></th>
            <td class="text-center">{{item.Light}}</td>
          </tr>
          <tr>
            <th><div class="d-flex justify-content-between"><span>Dark</span><img class="mt-1" src="../../../assets/imgs/dark.png" width="16" height="16"></div></th>
            <td class="text-center">{{item.Dark}}</td>
          </tr>
        </tbody>
    </table>
    </div>
</div>
<div *ngIf="item?.Modifs" class="mt-3">
  <h4>Modifiers</h4>
  <div class="list-group">
    <div *ngFor="let mod of item?.Modifs">
      <div *ngIf="mod.Str" class="list-group-item"><em>{{mod.Str}}</em></div>
    </div>
  </div>
</div>
<div class="accordion mt-3" id="skillsAccordion">
  <div *ngIf="fishMob" class="accordion-item rounded mb-2">
    <h2 class="accordion-header" id="flush-heading0">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-fishCollapse" aria-expanded="false" aria-controls="flush-fishCollapse">
        <h5><em>Fishing</em></h5>
      </button>
    </h2>
    <div id="flush-fishCollapse" class="accordion-collapse collapse" aria-labelledby="flush-heading0" data-bs-parent="#skillsAccordion">
      <div class="accordion-body">
              <div class="my-2 p-2 border border-secondary rounded">
                  <div class="fw-bold">Level: {{fishMob.Level}}</div>
                  <div class="mx-3 row">
                      <div class="col align-self-start">                            
                     <div>Difficulty: {{fishMob?.Difficulty}}</div>
                      <div>Base Delay: {{fishMob?.BaseDelay}}</div>
                      <div>Base Move: {{fishMob?.BaseMove}}</div>
                      </div>
                      <div class="col align-self-start">
                        <div>Rarity: {{fishMob?.Rarity}}</div>
                        <div>Ranking: {{fishMob?.Ranking}}</div>
                      <div *ngIf="fishMob.ReqBaitId != 0"><a [routerLink]="['/tools/items', fishMob?.ReqBaitId]">Specific Bait Needed</a></div>
                      <div *ngIf="fishMob.AltBaitId != 0"><a [routerLink]="['/tools/items', fishMob?.AltBaitId]">Alternative Bait</a></div>
                    </div>
                      <div class="col align-self-start">
                      <div *ngIf="fishMob.KeyItem != 0"><a>Key Item Required</a></div>
                      <div *ngIf="fishMob.MinRespawn != 0">Min Respawn: {{fishMob.MinRespawn}}</div>
                      <div *ngIf="fishMob.MaxRespawn != 0">Max Respawn: {{fishMob.MaxRespawn}}</div>
                      <div *ngIf="fishMob.AreaName">Area: {{fishMob?.AreaName}}</div>
                      <div *ngIf="fishMob.NM != 0" class="badge bg-secondary rounded-pill"><span>NM</span></div>
                      <div *ngIf="fishMob.QuestOnly != 0" class="badge bg-secondary rounded-pill"><span>Quest Only</span></div>
                    </div>
                  
                  </div>
              </div>
      </div>
    </div>
  </div>

    <div *ngIf="item.Skills" class="accordion-item rounded">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-skillsCollapse" aria-expanded="false" aria-controls="flush-skillsCollapse">
          <h5><em>Skills</em></h5>
        </button>
      </h2>
      <div id="flush-skillsCollapse" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#skillsAccordion">
        <div class="accordion-body">
            <div *ngFor="let skill of item.Skills">
                <div class="my-2 p-2 border border-secondary rounded">
                    <a [routerLink]="['/tools/jobs/mobskills', skill.Name]"  class="fw-bold">{{skill.Name | spell }}</a>
                    <div class="mx-3 row">
                        <div class="col align-self-center">                            
                       <div>AOE: <span *ngIf="skill.AOE != 0">Yes</span>
                        <span *ngIf="skill.AOE == 0">No</span></div>
                        <div>Distance: {{skill.Distance}}</div>
                        <div>Prep Time: {{skill.PrepTime/1000}} s</div>
                       
                        </div>
                        <div class="col align-self-center">
                        <div>Valid Targets: {{skill.ValidTargets | target}}</div>
                        <div>Primary SC: {{skill.PrimSC | sc }}</div>
                        <div *ngIf="skill.TertSC != 0">Secondary SC: {{skill.SecSC | sc}}</div>
                        <div *ngIf="skill.TertSC != 0">Tertiary SC: {{skill.TertSC | sc}}</div>
                        <div>Knockback: <span *ngIf="skill.Knockback != 0">Yes</span>
                          <span *ngIf="skill.Knockback == 0">No</span></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div *ngIf="item.Spells" class="accordion-item mt-2 rounded">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-spellsCollapse" aria-expanded="false" aria-controls="flush-spellsCollapse">
            <h5><em>Spells</em></h5>
        </button>
      </h2>
      <div id="flush-spellsCollapse" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#skillsAccordion">
        <div class="accordion-body">
            <div *ngFor="let spell of item.Spells">
                <div class="my-2 p-2 border border-secondary rounded">
                    <a [routerLink]="['/tools/jobs/spells', spell.Name]"  class="fw-bold">{{spell.Name | spell}}</a>
                    <div class="mx-3 row">
                        <div class="col align-self-center">    
                       <div>AOE: <span *ngIf="spell.AOE != 0">Yes</span>
                        <span *ngIf="spell.AOE == 0">No</span></div>
                        <div>Range: {{spell.Range/10}}</div>
                        <div>Cast Time: {{spell.CastTime/1000}} s</div>
                        <div>Recast Time: {{spell.RecastTime/1000}} s</div>
                        </div>
                        <div class="col align-self-center">

                        <div>Skill: {{spell.Skill | skillType}}</div>
                        <div>Base: {{spell.Base}}</div>
                        <div>Multiplier: {{spell.Multiplier}}</div>
                        <div>CE: {{spell.CE}}</div>
                        <div>VE: {{spell.VE}}</div>
                    </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    <div *ngIf="item.Drops" class="accordion-item mt-2 rounded">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-dropsCollapse" aria-expanded="false" aria-controls="flush-dropsCollapse">
            <h5><em>Treasure</em></h5>
        </button>
      </h2>
      <div id="flush-dropsCollapse" class="accordion-collapse show collapse" aria-labelledby="flush-headingThree" data-bs-parent="#skillsAccordion">
        <div class="accordion-body">
            <div>
                <table class="table table-bordered ah-table">
                    <thead>
                        <tr>
                          <th colspan="2" class="text-center">Item Name</th>
                          <th class="text-center">Type</th>
                          <th class="text-center">Grp ID</th>
                          <th class="text-center">Grp Rate</th>
                          <th class="text-center">Rate</th>
                        </tr>
                      </thead>
                    <tbody>
                        <tr *ngFor="let drop of item.Drops">
                            <td class="text-center">
                                <img [src]='"https://www.ffxiah.com/images/icon/"+drop.ItemId+".png"' width="32" height="32">
                            </td>
                            <td>
                                <a [routerLink]="['/tools/items', drop.ItemId]">{{drop.ItemName | spell}}</a>
                            </td>
                            <td class="text-center">
                                {{drop.DropType | droptype}}
                            </td>
                            <td class="text-center">
                                {{drop.GroupId}}
                            </td>
                            <td class="text-center">
                                {{drop.GroupRate /10}}
                            </td>
                            <td class="text-center">
                                {{drop.ItemRate /10}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>