<div class="container">
<h3 class="mt-3">{{zoneName | removeUnderscore}}</h3>
<div class="d-flex justify-content-center">
<app-map-viewer [name]="zoneName" [images]="mapPaths"></app-map-viewer>
</div>
<div class="accordion mt-3">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed fw-light fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h5>Targets/NPCs</h5>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionZones">
          <div class="accordion-body">
            <div class="input-group mb-2 mt-3">
                <input type="text" class="form-control" placeholder="" [(ngModel)]="searchCharVal" (ngModelChange)="onSearchTextChange()" aria-label="Search input">        
              </div>
              <div *ngIf="searchCharVal && filteredChars?.length == 0" class="alert d-flex align-items-center alert-info" role="alert">
                <i class="bi bi-exclamation-diamond me-2"></i>
                <div>
                  No results found
                </div>
              </div>
            <div class="list-group">
                <a *ngFor="let actor of filteredChars" [routerLink]="['/tools/zones/zone', zoneId, actor?.Id]" class="list-group-item">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">   
                            <span *ngIf="actor.name === ''">blank</span>
                            <span *ngIf="actor.name !== ''">{{actor.name}}</span></div>
                            <span class="fw-lighter">{{actor.Id}}</span>
                      </div>
                </a>
            </div>
        </div>
        </div>
      </div>

      <div *ngIf="zoneMobs" class="accordion-item">
        <h2 class="accordion-header" id="heading2">
          <button class="accordion-button collapsed fw-light fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            <h5>Mobs</h5>
          </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionZones">
          <div class="accordion-body">
            <div class="input-group mb-2 mt-3">
                <input type="text" class="form-control" placeholder="" [(ngModel)]="searchMobVal" (ngModelChange)="onSearchMobTextChange()" aria-label="Search mob input">        
              </div>
              <div *ngIf="searchMobVal && filteredMobs?.length == 0" class="alert d-flex align-items-center alert-info" role="alert">
                <i class="bi bi-exclamation-diamond me-2"></i>
                <div>
                  No results found
                </div>
              </div>
            <div class="list-group">
                <div *ngFor="let mob of filteredMobs">
                    <div *ngIf="mob.MaxLevel != 0" class="list-group-item">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold d-flex justify-content-between">   
                            <a [routerLink]="['/tools/mob', mob.GroupId, zoneId, mob.PoolId]">{{mob.Name | removeUnderscore}}</a>
                            <div class="small text-muted">Max Level: {{mob.MaxLevel}}</div>
                        </div>
                            <span class="small text-muted fst-normal">Spawn Type: {{mob.SpawnType | spawn}}</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
</div>
</div>
