@import '../../../../assets/theme/theme.scss';
@import '../../../../assets/theme/functions.scss';

.eq-col {
    position: relative; 
    height: 32px;
    width: 32px;
    background-image: url("../../../../assets/imgs/item_back.png");
}

.item-box {
    min-height: 82px;
    min-width: 425px;
    font-size: 0.9rem !important;
    font-style: none;
    z-index: 1;
    background-color: rgba(49, 59, 114, 0.9);
    background: repeating-linear-gradient(0deg, #313b72, #313b72 1px, rgba(49, 59, 114, 0.8) 0px, rgba(49, 59, 114, 0.8) 3px);
    list-style: none;
    color: white;
    line-height: 1.1;
    border: 6px solid var(--border-color);
    border-image: url("../../../../assets/imgs/border.png") 6;
    border-image-outset: 0;
    border-image-repeat:stretch    
}

.wrap-divs {
    word-wrap: break-all; overflow-wrap: break-all; display: inline-flex;
}


@media (max-width: 500px) {
    .item-box {
        min-width: calc(100vw - 60px);
    }
  }