<div class="container">
    <h3 class="mt-3">Skillchains</h3>
    <div class="list-group">
        <a [routerLink]="['/tools/sc/1']" class="list-group-item">
            Transfixion
        </a>
        <a [routerLink]="['/tools/sc/2']" class="list-group-item">
            Compression
        </a>
        <a [routerLink]="['/tools/sc/3']" class="list-group-item">
            Liquefaction
        </a>
        <a [routerLink]="['/tools/sc/4']" class="list-group-item">
            Scission
        </a>
        <a [routerLink]="['/tools/sc/5']" class="list-group-item">
            Reverberation
        </a>
        <a [routerLink]="['/tools/sc/6']" class="list-group-item">
            Detonation
        </a>
        <a [routerLink]="['/tools/sc/7']" class="list-group-item">
            Induration
        </a>
        <a [routerLink]="['/tools/sc/8']" class="list-group-item">
            Impaction
        </a>
        <a [routerLink]="['/tools/sc/9']" class="list-group-item">
            Gravitation
        </a>
        <a [routerLink]="['/tools/sc/10']" class="list-group-item">
            Distortion
        </a>
        <a [routerLink]="['/tools/sc/11']" class="list-group-item">
            Fusion
        </a>
        <a [routerLink]="['/tools/sc/12']" class="list-group-item">
            Fragmentation
        </a>
        <a [routerLink]="['/tools/sc/13']" class="list-group-item">
            Light
        </a>
        <a [routerLink]="['/tools/sc/14']" class="list-group-item">
            Darkness
        </a>
        <!--<a [routerLink]="['/tools/sc/15']" class="list-group-item">
            Light II
        </a>
        <a [routerLink]="['/tools/sc/16']" class="list-group-item">
            Darkness II
        </a>-->
    </div>
</div>