<div class="container">
<div class="mt-3 d-flex justify-content-between">
    <h3>Auction House</h3>
    <small class="text-muted mt-2">(30 entries max)</small>
</div>
  <div class="input-group my-2">
    <input type="text" class="form-control" placeholder="" [(ngModel)]="searchVal" (keyup.enter)="searchClick()" aria-label="Search input">
    <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="searchClick()">Search</button>
    </div>
  </div>
  <div *ngIf="alertMessage" class="alert d-flex align-items-center" [class.alert-danger]="error" [class.alert-info]="!error" role="alert">
    <i class="bi bi-exclamation-diamond me-2"></i>
    <div>
      {{alertMessage}}
    </div>
  </div>
<div>
  <div class="list-group">
    <div *ngFor="let product of products" class="list-group-item">
      <div class="d-flex justify-content-between">
        <div>
      <div class="fs-6 fw-bold"><a [routerLink]="['/tools/items', product.ItemID]">{{product.ItemName | removeUnderscore}}</a>
      </div>      
      <div class="small">Category: <span><em>{{product.Ah | ahcat}}</em></span></div>
      <div class="small">Seller: <span>{{product.SellerName}}</span></div>
      <div class="small">Price: <span>{{product.Price}}g</span></div>
    </div>
    <div class="d-flex flex-column align-items-start justify-content-between">
      <div>
        <app-item-icon [Val]="product?.ItemID" Eq="0"></app-item-icon>
      </div>
      <div *ngIf="product.Stack != 0" class="badge bg-secondary ms-2" style="height: 20px;">S</div>
    </div>
    </div>
    </div>
  </div>
<!--<table class="table table-bordered ah-table w-100">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Category</th>
        <th scope="col">Seller</th>
        <th scope="col">Price</th>
        <th scope="col">Stack</th>
      </tr>
    </thead>
    <tbody>            
      <tr *ngFor="let product of products">
        <td><a [routerLink]="['/tools/items', product.ItemID]">{{product.ItemName | removeUnderscore}}</a></td>
        <td>{{product.Ah | ahcat}}</td>
        <td>{{product.SellerName}}</td>
        <td>{{product.Price}}g</td>
        <td><span *ngIf="product.Stack != 0">Yes</span><span *ngIf="product.Stack == 0">No</span></td>
       <td>{{product.SellDate * 1000 | date}}</td>
      </tr>
      <tr *ngIf="!products || products.length === 0">
          <td colspan="5"><em>No entries found.</em></td>
      </tr>
    </tbody>
  </table>-->

</div>
</div>